<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="images/logo.jpg" />
    <title>PlantsBuy</title>
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/styleP.css" />
    <title>Portfolio</title>
  </head>
  <body>
    <nav>
      <div class="nav__content">
        <div class="logo"><a href="#">Archana</a></div>
        <label for="check" class="checkbox">
          <i class="ri-menu-line"></i>
        </label>
        <input type="checkbox" name="check" id="check" />
        <ul>
          <li><a href="http://localhost:4500/indexArchanaP">Home</a></li>
          <li><a href="http://localhost:4500/indexArchanaC">Contact</a></li>
        </ul>
      </div>
    </nav>
    <section class="section">
      <div class="section__container">
        <div class="content">
          <p class="subtitle">HELLO</p>
          <h1 class="title">
            I'm
            <span>Archana<br />a</span>
            Full Stack Developer
          </h1>
          <p class="description">
            Welcome to my web developer portfolio! I'm Archana Jena, I am
            thrilled to introduce myself as a dynamic and driven web developer
            currently in the third year of my Bachelor's degree in Computer
            Applications (BCA). With a fervent passion for both coding and
            public speaking, I have crafted a diverse portfolio of projects
            ranging from simple calculators to complex ecommerce websites.
            Alongside my technical prowess, my deep-seated enthusiasm for
            esports fuels my competitive spirit, while my exceptional team
            leadership qualities ensure effective collaboration and success.
          </p>
          <div class="action__btns">

            <!-- <a class="hire__me" href="https://www.plantsbuy.in"><button class="project">Project</button> </a> -->
            <a
              href="https://drive.google.com/file/d/1uOW_G5pPueYPRSuFUbjQRhwPYZ2Q7Hy6/view?usp=drivesdk"
            ><button class="portfolio">Resume</button></a>
          </div>
        </div>
        <div class="image">
          <img src="images/Archanaa.png" alt="profile" />
        </div>
      </div>
    </section>
  </body>
</html>