<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="images/logo.jpg" />
    <title>PlantsBuy</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
    />
    <link rel="stylesheet" href="css/styleh.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />

  </head>
  <body>
    <div class="container">
      <div class="card">
        <div class="content">
          <div class="imgBx">
            <img src="images/Archanaa.png" alt="" />
          </div>
          <div class="contentBx">
            <h4>Archana Jena</h4>
            <h5>Full Stack Developer</h5>
          </div>
          <div class="sci">
            <a title="Github" href="https://github.com/archanaJena" type="">
              <i class="fa-brands fa-github"></i></a>
            <a title="Twitter" href="https://twitter.com/archana_1208">
              <i class="fa-brands fa-twitter"></i></a>
            <a title="Instagram" href="https://www.instagram.com/_archna12_"><i
                class="fa-brands fa-instagram"
              ></i></a>
          </div>
          <a href="http://localhost:4500/indexArchanaP"><button
              class="popbtn"
            >About me</button></a>
        </div>
      </div>
      <div class="card">
        <div class="content">
          <div class="imgBx">
            <img src="images/rachana.png" alt="" />
          </div>
          <div class="contentBx">
            <h4>Rachana Jena</h4>
            <h5>Full Stack Developer</h5>
          </div>
          <div class="sci">
            <a title="Github" href="https://github.com/rachanajena">
              <i class="fa-brands fa-github"></i></a>
            <a title="Twitter" href="https://twitter.com/rachana4967"><i
                class="fa-brands fa-twitter"
              ></i></a>
            <a title="Instagram" href="https://www.instagram.com/rachna7.pvt"><i
                class="fa-brands fa-instagram"
              ></i></a>
          </div>
          <a href="http://localhost:4500/indexRachanaP"><button
              class="popbtn"
            >About me</button></a>
        </div>
      </div>
      <div class="card">
        <div class="content">
          <div class="imgBx">
            <img src="images/rickyy.png" alt="" />
          </div>
          <div class="contentBx">
            <h4>Supratim Biswas</h4>
            <h5>Full Stack Developer</h5>
          </div>
          <div class="sci">
            <a title="Github" href="https://github.com/ricky45exe">
              <i class="fa-brands fa-github"></i></a>
            <a title="Twitter" href="https://twitter.com/ricky_45exe">
              <i class="fa-brands fa-twitter"></i></a>
            <a title="Instagram" href="https://www.instagram.com/ricky29_pvt"><i
                class="fa-brands fa-instagram"
              ></i></a>
          </div>

          <a href="http://localhost:4500/indexRickyP"><button
              class="popbtn"
            >About me</button></a>
        </div>
      </div>

    </div>
  </body>
</html>