<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="images/logo.jpg" />
    <title>PlantsBuy</title>
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Phudu:wght@500&family=Poppins:wght@200&family=Roboto:wght@300&family=Teko:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/setpass.css" />
  </head>
  <body>
    <div class="wrapper">
      <form action="/reset" method="post">
        <h1>Set New Password</h1>
        {{#if message}}
          <div
            class="success-message"
            style="font-weight: bolder;"
          >{{message}}</div>
        {{/if}}
        <div class="input-box">
          <input
            type="password"
            placeholder="New Password"
            id="input1"
            required
            name="password"
          />
          <i class="bx bxs-lock-alt"></i>
        </div>
        <div class="input-box">
          <input
            type="password"
            placeholder="Confirm Password"
            id="input2"
            required
            name="cpassword"
          />
          <i class="bx bxs-lock-alt"></i>
        </div>

        <button type="submit" id="btn" class="btn">
          Change Password
        </button>

      </form>
    </div>
  </body>
</html>