<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="images/logo.jpg" />
    <title>PlantsBuy</title>
    <link rel="stylesheet" href="css/terms.css" />

  </head>
  <body>
    <div class="container">
      <div class="write">
        <h1>Terms of Use & Terms and Conditions</h1>
        <p>Welcome to PlantsBuy! Please read these Terms of Use and Terms and
          Conditions ("Terms") carefully before using our website, PlantsBuy.com
          (the "Site"), and any services, features, content, or applications
          offered by PlantsBuy (collectively, the "Services"). By accessing or
          using the Site or Services, you agree to be bound by these Terms. If
          you do not agree to all of these Terms, please do not use the Site or
          Services.</p>

        <p><h3>1. Acceptance of Terms</h3>

          By accessing or using the Site or Services, you agree to comply with
          and be bound by these Terms. If you do not agree to these Terms, you
          may not access or use the Site or Services.

          <h3>2. Use of the Site and Services</h3>

          <h4>2.1 Eligibility</h4>: You must be at least 18 years old to use the
          Site or Services. By using the Site or Services, you represent and
          warrant that you are at least 18 years old.

          <h4>2.2 Account Registration</h4>: In order to access certain features
          of the Site or Services, you may be required to create an account. You
          agree to provide accurate, current, and complete information during
          the registration process and to update such information to keep it
          accurate, current, and complete. You are responsible for maintaining
          the confidentiality of your account and password and for restricting
          access to your account, and you agree to accept responsibility for all
          activities that occur under your account or password.

          <h4>2.3 Prohibited Activities</h4>: You agree not to engage in any of
          the following activities in connection with your use of the Site or
          Services:<br />

          (a) Violating any applicable laws, regulations, or third-party rights;
          <br />

          (b) Using the Site or Services for any unlawful or unauthorized
          purpose;
          <br />

          (c) Interfering with or disrupting the operation of the Site or
          Services;
          <br />

          (d) Impersonating any person or entity, or falsely stating or
          otherwise misrepresenting your affiliation with any person or entity;
          <br />

          (e) Collecting or harvesting any personally identifiable information,
          including account names, from the Site or Services;
          <br />

          (f) Accessing any content on the Site or Services through any
          technology or means other than those provided or authorized by the
          Site;
          <br />

          (g) Engaging in any conduct that restricts or inhibits any other user
          from using or enjoying the Site or Services;
          <br />

          (h) Modifying, adapting, translating, reverse engineering,
          decompiling, disassembling, or creating derivative works based on the
          Site or Services;
          <br />

          (i) Removing, altering, or obscuring any copyright, trademark, or
          other proprietary rights notice on the Site or Services;
          <br />

          (j) Using any automated system, including without limitation "robots,"
          "spiders," "offline readers," etc., to access the Site or Services in
          a manner that sends more request messages to the PlantsBuy servers
          than a human can reasonably produce in the same period by using a
          conventional online web browser;
          <br />

          (k) Framing or mirroring any part of the Site or Services without
          prior written authorization; or<br />

          (l) Transmitting any viruses, worms, defects, Trojan horses, or other
          items of a destructive nature.
          <br />

          <h3>3. Product Purchases</h3>

          <h4>3.1 Ordering</h4>: When you place an order through the Site, you
          are making an offer to purchase the products in your cart. PlantsBuy
          reserves the right to refuse or cancel any order for any reason at any
          time. If your order is canceled, you will be refunded the full amount
          paid.

          <h4>3.2 Pricing</h4>: All prices for products on the Site are subject
          to change without notice. The price displayed at the time you place
          your order will be the price you are charged.

          <h4>3.3 Payment</h4>: Payment for orders placed through the Site must
          be made by credit card, debit card, or any other payment method
          accepted by PlantsBuy. You agree to pay all charges incurred by you or
          any users of your account and credit card or other payment mechanism
          at the prices in effect when such charges are incurred. You are
          responsible for paying any applicable taxes relating to your
          purchases.

          <h4>3.4 Shipping</h4>: PlantsBuy will ship products to the address you
          provide during the checkout process. Delivery times may vary depending
          on your location and other factors beyond PlantsBuy's control.

          <h4>3.5 Returns</h4>: If you are not satisfied with your purchase, you
          may return it in accordance with PlantsBuy's return policy, which is
          available on the Site.

          <h3>4. Intellectual Property</h3>
          The Site and Services, including all content, features, and
          functionality thereof, are owned by PlantsBuy or its licensors and are
          protected by copyright, trademark, and other intellectual property
          laws. You may not modify, reproduce, distribute, create derivative
          works of, publicly display, publicly perform, republish, download,
          store, or transmit any of the material on the Site or Services, except
          as expressly permitted by these Terms.

          <h3>5. Privacy</h3>

          PlantsBuy's privacy policy, which is available on the Site, explains
          how we collect, use, and disclose information about you. By accessing
          or using the Site or Services, you consent to the collection, use, and
          disclosure of your information as described in the privacy policy.

          <h3>6. Limitation of Liability</h3>

          In no event will PlantsBuy, its affiliates, or their respective
          officers, directors, employees, or agents be liable to you or any
          third party for any indirect, consequential, exemplary, incidental,
          special, or punitive damages, including lost profit damages arising
          from or in connection with your use of the Site or Services, even if
          PlantsBuy has been advised of the possibility of such damages.

          <h3>7. Governing Law and Dispute Resolution</h3>

          These Terms shall be governed by and construed in accordance with the
          laws of the [Your Jurisdiction], without regard to its conflict of law
          principles. Any dispute arising out of or relating to these Terms or
          your use of the Site or Services shall be resolved exclusively by the
          state and federal courts located in [Your Jurisdiction].

          <h3>8. Changes to Terms</h3>

          PlantsBuy reserves the right to change or modify these Terms at any
          time and in its sole discretion. Any changes or modifications will be
          effective immediately upon posting the revised Terms on the Site. Your
          continued use of the Site or Services following the posting of changes
          or modifications will constitute your acceptance of such changes or
          modifications. Therefore, you should periodically review the Terms.

          <h3>9. Contact Us</h3>

          If you have any questions about these Terms, please contact us at
          support@plantsbuy.in.
          <br /><br />
          By using PlantsBuy.com and its services, you acknowledge that you have
          read, understood, and agree to be bound by these Terms.
        </p>
      </div>
    </div>
    <footer>
      <p>&copy; 2024 PlantsBuy | All rights reserved.</p>
    </footer>
  </body>
</html>