<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="images/logo.jpg" />
    <title>PlantsBuy</title>
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/testimony.css" />

  </head>
  <body>
    <div class="section__container">
      <div class="header">
        <p>TESTIMONIALS</p>
        <h1>What our customers say about us.</h1>
      </div>
      <div class="testimonials__grid">
        <div class="card">
          <span><i class="ri-double-quotes-l"></i></span>
          <p>
            I've been buying from these guys for a long time and I can say that
            my garden is in the perfect hands.
          </p>
          <hr />
          <img src="images/user1.png" alt="user" />
          <p class="name">Spandan Mohanty</p>
        </div>
        <div class="card">
          <span><i class="ri-double-quotes-l"></i></span>
          <p>
            I never knew plant shopping could be this easy and rewarding! Thanks
            to PlantsBuy, my home is now a lush oasis!.
          </p>
          <hr />
          <img src="images/user2.png" alt="user" />
          <p class="name">Srija Sarcar</p>
        </div>
        <div class="card">
          <span><i class="ri-double-quotes-l"></i></span>
          <p>
            I was blown away by the seamless experience of purchasing plants
            from PlantsBuy! I will definitely be a returning customer.
          </p>
          <hr />
          <img src="images/user3.png" alt="user" />
          <p class="name">Anjana Jena</p>
        </div>
      </div>
      <div class="footer">
        <h4>No two homes are alike!</h4>
        <p>
          "Transform your space into a green sanctuary with just a click! 🌿
          Explore our curated collection of plants and bring nature home
          effortlessly."
        </p>

        <a href=" http://localhost:4500"> <button>BUY NOW</button></a>
      </div>
    </div>
  </body>
</html>